<html>
    <body>
        <form action="/register" method="POST">
            <input type="hidden" name="user" value="{{user}}"/>
            <input type="text" name="twitter"/>
            <input type="submit" value="Go"/>
        </form>
    </body>
<html>
